.slider-header-main {
    .slick-next {
        width: 48px !important;
        height: 48px !important;
        border-radius: 50%;
        background-color: #f7f7fb;
        border: 1px solid #e6e6eb;
        &:hover {
            background-color: #ffffff;
        }
    }
    &::before {
        top: 6px;
        color: blue;
        right: 16px;
      }
    .slick-prev {
        width: 48px !important;
        height: 48px !important;
        border-radius: 50%;
        background-color: #f7f7fb;
        border: 1px solid #e6e6eb;
        z-index: 10000;
        &:hover {
            background-color: #ffffff;
        }
    }
    .slick-arrow {
        color:red
    }
}